<h1> Voici les équipes</h1>

<%= button_to 'Generate Teams', generate_teams_path, method: :post, class: "btn btn-primary" %>
<br>
<br>
<br>
<%= link_to 'Nouvelle équipe',  new_team_path, class: "btn btn-dark" %>
